 #playfield {
    width: 700px;
    height: 400px;
    border-right: 6px solid black;
    border-left: 6px solid black;
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
}

.btn-group button {
    margin: 40px;
    margin-left: -29px;
    cursor: pointer; /* Pointer/hand icon */
    width: 50px; /* Set a width if needed */
    height: 50px;
    display: block; /* Make the buttons appear below each other */
    transform: rotate(45deg);
}

.sidebar {
    margin-left: 1000px;
    margin-top: 100px;
}

#scoreboard {
  font-style: bolder;
  font-size: 25px
}

.rectangle {
  height: 20px;
  width: 150px;
  border-radius: 30px;
  margin-top: 10px;
}

.valuebox {
  margin-left: 200px;
}

#reset-button {
  border-radius: 10px;
}